<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Absolem</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/partials/prompt.css">

  <style>
    .items-data {
      display: none;
    }

    .username {
      display: none;
    }
  </style>

</head>

<body>
  <%- include('../public/partials/prompt.ejs') %>
  <div class="main">
    <h1 class="title">Hi, little kid.</h1>
    <h2 class="subtitle">Give me something, then I'll give something to you as a trade...</h2>
  </div>

    <script src="/components/args.js"></script>
    <script src="/components/prompt.js"></script>
    <script>  
      window.onload = () => {
        let items = ["hookah", "glasses", "mushrooms"];
        
        if("<%= items %>".replace(/\s/g, "") !== "" && items.includes("<%= items %>".replace(/\s/g, "").toLowerCase()) && "<%= allowed %>".replace(/\s/g, "") === "false") cardPrompt([".prompt", ".title", ".input"], null, true);
        else if("<%= allowed %>".replace(/\s/g, "") === "404") cardPrompt([".prompt", ".title", ".input"], "Please input your name that has been used before!", true);
        else if("<%= allowed %>".replace(/\s/g, "") === "already") {
          document.body.classList.toggle("already", true);

          _(".subtitle").innerHTML = "You have already took this item. This item is limited do not you know, Alice?<br><br>Just go away from here and search for the other item!";
        } else if("<%= allowed %>".replace(/\s/g, "") === "allowed") {
          document.body.classList.toggle("allowed", true);
           _(".subtitle").innerHTML = "Congratulations!<br><br>You achieved an equipment, <b><%= items %></b>";
        }

        _("#input").addEventListener("keypress", function (e) {
          if (e.key === "Enter") {
            _(".prompt").removeAttribute("status");
            location.href = window.location.href + "&userid=" + e.target.value;

            if (e.target.value.replace(/\s/g, "") == "" || !e.target.value) {
              cardPrompt(
                [".prompt", ".title", ".input"],
                "Please enter your real name... Alice? Am?",
                true,
              );
            } else {
              location.href = window.location.href + "&userid=" + e.target.value;
            }
          }
        });
      };

      function checkItem() {
        
      }
    </script>
</body>

</html>