<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/3ab54522ca.js" crossorigin="anonymous"></script>

  <title>Data stats</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<ul>
  <% for (list of data) { %>

      <li>
        <h1><%= list.username  %></h1>
        <h2>
          <%= new Date(list.time).toDateString()  %>
          <%= (Number(new Date(list.time).getHours()) + 7) > 24 ? Number(new Date(list.time).getHours()) + 7 - 24 : Number(new Date(list.time).getHours()) + 7 %>:<%= new Date(list.time).getMinutes()  %>:<%= new Date(list.time).getSeconds()  %></h2>
      </li>

  <% } %>
</ul>
</body>

</html>