<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Data stats</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/datasee.css">
  <style>
    .main {
      display: block;
      height: auto; 
      margin: 25px;
      padding: 50px;
    }

    @media only screen and (min-width:1024px) {
      .main {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(3, 200px);
      }
    }

    .user {
      margin-top: 1.5rem;
    }
  </style>

</head>

<body>
  <div class="main">
    <h1>Statistics</h1>
    <% for (list of data) { %>
      <div class="user">
        <h2><%= list.username  %></h2>
        <div>
          <div>
            <span>Tick-tock timestamp:</span>
            <span>
               <%= new Date(list.ticktock + (7*60*60*1000)).toString()  %>
              <%= (Number(new Date(list.ticktock + (7*60*60*1000)).getHours())) %>:<%= new Date(list.ticktock + (7*60*60*1000)).getMinutes()  %>:<%= new Date(list.ticktock + (7*60*60*1000)).getSeconds()  %>  

                =============================
            </span>
          </div>
          <div>
            <span>Items:</span>
            <span><%= list.items.join(", ")  %></span>
          </div>
        </div>
      </div>
    <% } %>
    </div>
</body>

</html>